<div class="w-64 h-96">
  <div
    class="absolute z-40 p-1 m-1 rounded-lg hover:scale-105 cursor-pointer"
    *ngIf="!property.favorite"
    (click)="onHeartClick()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      aria-hidden="true"
      role="presentation"
      focusable="false"
      style="
        display: block;
        fill: rgba(0, 0, 0, 0.5);
        height: 24px;
        width: 24px;
        stroke: var(--linaria-theme_palette-icon-primary-inverse);
        stroke-width: 2;
        overflow: visible;
      "
    >
      <path
        d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
      ></path>
    </svg>
  </div>

  <div
    class="absolute z-40 p-1 m-1 rounded-lg hover:scale-105 cursor-pointer"
    *ngIf="property.favorite"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      aria-hidden="true"
      role="presentation"
      focusable="false"
      (click)="onHeartClick()"
      style="
        display: block;
        fill: #ff2155;
        height: 24px;
        width: 24px;
        stroke: var(--linaria-theme_palette-icon-primary-inverse);
        stroke-width: 2;
        overflow: visible;
      "
    >
      <path
        d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
      ></path>
    </svg>
  </div>
  <div [routerLink]="'/properties/' + property.id">
    <img
      [src]="property.images[0].url"
      class="rounded-xl aspect-[2/1.8] object-cover bg-white shadow-xl w-full hover:rotate-2 hover:scale-[102%] cursor-pointer transition-all duration-100"
      alt=""
    />
  </div>
  <div class="flex flex-col gap-1 px-2">
    <h2
      class="text-sm text-nowrap font-semibold text-left tracking-tight"
      *ngIf="property.name.length > 30"
    >
      {{ property.name.substring(0, 30) }}...
    </h2>
    <h2
      class="text-sm text-nowrap font-semibold text-left tracking-tight"
      *ngIf="property.name.length <= 30"
    >
      {{ property.name }}
    </h2>
    <div
      class="flex items-start justify-center gap-2 px-2 text-sm text-gray-500"
    >
      <div>🛏️{{ property.rooms }}</div>
      <div>🚽{{ property.bathrooms }}</div>
      <div>🚗{{ property.parkingSpaces }}</div>
      <div class="ml-auto font-semibold">📏{{ property.sizeMeters }} m²</div>
    </div>

    <p class="text text-black font-semibold">${{ property.price }}</p>
  </div>
</div>
