<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="mt-20 flex flex-col gap-2 mb-2">
  <div
    *ngFor="let thread of threads"
    class="flex gap-3 bg-white p-2 rounded-md shadow-md cursor-pointer border-transparent border-[1px] hover:border-black"
    [routerLink]="['/messages', thread.id]"
  >
    <div class="flex gap-2 items-center justify-center mr-3">
      <img
        [src]="thread.userOne.photoUrl"
        class="w-10 h-10 rounded-full"
        alt=""
      />
      <img
        [src]="thread.userTwo.photoUrl"
        class="w-10 h-10 rounded-full"
        alt=""
      />
    </div>
    <div
      *ngIf="thread.lastMessage.length > 30"
      class="flex items-center justify-center"
    >
      {{ thread.lastMessage.slice(0, 29) }}...
    </div>
    <div
      *ngIf="thread.lastMessage.length <= 30"
      class="flex items-center justify-center"
    >
      {{ thread.lastMessage }}
    </div>
    <div class="ml-auto flex items-center justify-center">
      {{ getTimeAgo(thread.lastMessageDate) }}
    </div>
  </div>
</div>
